<h1>Este es la vista post#index</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created at</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.created_at %></td>
    </tr>
  <%end%>
</table>
